@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.header {
  position: fixed;
  top: 0px; left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #de4f15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 35px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.5s;
}

.navbar a:hover {
  color: #f6d8b3;
}

.inicio {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 10%;
}

.imagem-inicio {
  position: relative;
  right: 40px;
  height: auto;
  width: 500px;
  background-position: center;
  background-size: cover;

}

.inicio-conteudo {
  max-width: 600px;
}

.inicio-conteudo h2 {
  font-size: 50px;
  position: relative;
  bottom: 15px; right: 15px;
  color: white;
  background: linear-gradient(#ff4f3b, #ff7300);
  border-radius: 20px;
  height: 80px; width: 65%;
  padding: 10px 10px 10px 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.inicio-conteudo p {
  margin: 30px 0 30px;
  line-height: 20px;
}

.inicio-conteudo .btn-conteudo {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-conteudo a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: linear-gradient(#ff4f3b, #ff7300);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.5s;
}


.btn-conteudo a:hover {
  background: #fe250c;
  cursor: pointer;
}

.header-2 {
  position: fixed;
  top: 93%; left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 20px 10%;
  background-color: #de4f15;
  color: white;
}
